@{
    ViewData["Title"] = "Lista Gier MVC";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Na stronie <a href="./Games/"> listy gier</a> możesz zapoznać się z przygotowaną przez nas listą gier oraz znaleźć dla siebie grę z danego rodzaju lub lat wydania.</p>
</div>
